body {
    background-color: grey;
}
#board {
 /* margin: 0 auto; */
 width: 50%;
}

#game tr td{

        cursor: pointer;
        border: 1px solid white;
        padding: 2em;
}
#game {
    border: 1px solid red;
}

.miss {
    background: url("../img/miss.png") no-repeat center center;
    padding: 3px;
}

.hit {
    background: url("../img/ship.png") no-repeat center center;
}

.marked {
    background-color: coral;
}