body {
    background-color: grey;
}
#board {
 /* margin: 0 auto; */
 width: 80%;
}

#game tr td{

        cursor: pointer;
        border: 1px solid white;
        padding: 2em;
}
#game {
    border: 1px solid red;
}

.splash {
    
    background: url("../img/splash-small.gif") no-repeat center center;
    /* background-color: black; */
    padding: 3px;
}

.miss {
    
    background: url("../img/miss.png") no-repeat center center;
    /* background-color: black; */
    padding: 3px;
}

.hit {
    background: url("../img/flame-small.gif") no-repeat center center;
}

.sink {
    background: url("../img/bubble-small.gif") no-repeat center center;
}

.marked {
    background-color: coral;
}

.gone {
    background-color: black;
}

.message-area{
    margin: 0 auto;
    text-align: center;
    font-size: xx-large;
}

.blocked{
    cursor: not-allowed !important;
}